ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgray;
  padding: 0.5rem 1rem;
}

.header__logo {
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.2s ease-in;
}

.header__logo:hover {
  color: red;
}

.header__search {
  display: flex;
}

.header__search__input {
  padding: 0.5rem 1rem;
  flex: 1;
  margin-right: 0.5rem;
}

.header__search__btn {
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 4px;
  font-size: 1rem;
  border: none;
  /* outline: none; */
  cursor: pointer;
}

.header__search__btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* .header__search__btn:focus {
  background-color: gray;
} */

.container {
  width: 100%;
  margin: 0 auto;
}

.video-list {
  display: grid;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 640px) {
  .header__search {
    width: 50%;
  }
  .container {
    max-width: 640px;
  }
  .video-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .video-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .video-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .video-list {
    grid-template-columns: repeat(5, 1fr);
  }
}

.video-item {
  position: relative;
  list-style: none;
  cursor: pointer;
}

.video-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.video-item-thumbnail-wrapper {
  position: relative;
  padding-top: 56.3%;
}

.video-item-thumbnail {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* VideoDetail.jsx */

.detail-container {
  display: grid;
  margin: 3rem 0;
  gap: 1rem;
}

.video {
  display: grid;
  gap: 1rem;
  margin-bottom: auto;
}

.video .player-wrapper {
  position: relative;
  padding-top: 56%;
}

.video .player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video .infos {
  display: grid;
  gap: 0.5rem;
}

.video .infos .title {
  font-size: 1.5rem;
  font-weight: 700;
}

@media (min-width: 1024px) {
  .detail-container {
    grid-template-columns: 1fr 320px;
  }
}

/* RelatedVideos */
.relatedvideos {
  display: grid;
  gap: 0.5rem;
}

.relatedvideos * {
  margin: 0;
}

.relatedvideos__item {
  display: grid;
  gap: 0.25rem;
  grid-template-columns: 160px 1fr;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  user-select: none;
}

.relatedvideos__item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.relatedvideo__infos {
  overflow: hidden;
  display: grid;
  gap: 0.25rem;
}

.relatedvideo__title {
  display: block;
  display: -webkit-box;
  max-height: 44px;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
  font-weight: 500;
}

.relatedvideo__channeltitle {
  font-size: 0.875rem;
  color: #666666;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.relatedvideo__tags {
  font-size: 0.75rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
